<div class="navbar">

  <app-navbar [login]=false></app-navbar>
</div>

<h4 class="usersTitle">Users</h4>
<app-users-search></app-users-search>
<div class="users-component">
  <div *ngIf="!users" class="">
    Loading!!
  </div>
  <ul class="users" *ngFor="let user of users|async; let i = index" [attr.data-index]="i">
    <img class="profileImage" [src]="user.photoURL | defaultimg:'http://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg'" routerLink="/user/{{user.username}}" />

    <li class="userLi"><a routerLink="/user/{{user.username}}">{{user.username}}</a></li>

  </ul>
</div>
