.bg-light {
    background-color: #d2e5e9!important;
}

.profileImage {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  cursor: pointer;
}

.navbar {
  position: fixed;
  width: 100%;
}
.userInfo{
  margin-top: 130px;
}

.color{
  color: #014d9e;
}
.color2 {
  color: grey;

}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}

.upload-btn-wrapper:hover {
  background-color: #0069d9;
}

.btn1 {
  border: 1px gray;
  color: white;
  background-color: #0069d9;
  padding: 4px 10px;
  border-radius: 50%;
  cursor: pointer !important;
}

.upload-btn-wrapper input[type=file] {
  font-size: 20px;
  font-weight: lighter;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer !important;
}

.inpt {
  margin: auto;
  width: 30%;
}
.loading {
  padding-top: 300px;
}
