
<form class="cp-login-form" id="cp-login-form" #formData='ngForm' (ngSubmit)="onSubmit(formData)">
  <span class="error" *ngIf="error">{{ error }}</span>
  <h2 class="cp-login-form-title" id="cp-login-form-title">Signup</h2>
  <div class="cp-login-inputs-div" id="cp-login-inputs-div">
    <div class="">
      <label class="cp-label" for="cp-input-0" id="cp-lable-0">Email</label>
      <input class="cp-input" type="email" name="email" (ngModel)="email" placeholder="Email" id="cp-input-0" required>
    </div>
    <div><label for="cp-input-2" class="cp-label" id="cp-lable-2">User name</label>
      <input type="Text" class="cp-input " name="displayName" (ngModel)="displayName" placeholder="Username" id="cp-input-2" required></div>
  </div>
  <div class="">
    <label class="cp-label" for="cp-input-1" id="cp-lable-1">Password</label>
    <input class=" cp-input" type="password" name="password" (ngModel)="password" placeholder="Input your password" id="cp-input-1" required>
  </div>
  <!-- <div class="card-body"> -->
  <input type="file" (change)="upload($event)" accept=".png,.jpg" required/>
  <!-- </div> -->
  <!-- progress bar -->
  <div class="progress width">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
<a  routerLink="/login">Have an account? Go to login.</a>
  <button class="cp-button" type="submit" id="cp-login-submit" [disabled]="!formData.valid">Signup</button>
</form>
