
*{
  margin:0;
  padding:0;
}

a{
  cursor: pointer;
}
/* visited link */
a:visited {
    color: #00356d;
}

/* mouse over link */
a:hover {
    color: #6eb3fd;
}

/* selected link */
a:active {
    color: pink;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #97dfef;
     border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00c7f1;
}
