.msgsAndUsers {
  display: flex;
  flex-flow: row;
  margin-top: 69px
}

.message-sender {
  display: flex;
  font-size: 12px;
  margin: 0 0 5px;
  color: #30649c;
  align-self: flex-start;
}

.message-sender a, .message-sender a:link, .message-sender a:visited, .chat-partner-name a, .chat-partner-name a:link, .chat-partner-name a:visited {
  color: #30649c;
  text-decoration: none;
}

.message-box {
  padding: 6px 10px;
  border-radius: 6px 0 6px 0;
  position: relative;
  background: rgba(100, 170, 0, 0.1);
  border: 2px solid rgba(100, 170, 0, 0.1);
  color: #6c6c6c;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.message-box:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid rgba(100, 170, 0, 0.2);
  border-right: none;
  bottom: -22px;
  right: 10px;
}

.message-partner {
  background: rgba(0, 114, 135, 0.1);
  border: 2px solid rgba(0, 114, 135, 0.1);
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  -webkit-max-logical-width: max-content;
}

.message-partner:after {
  right: auto;
  bottom: auto;
  top: -22px;
  left: 9px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 114, 135, 0.2);
  border-left: none;
}

.buttonClass {
  font-size: 10px;
  width: 18px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.contain {
  display: flex;
  flex-flow: row;
}

.inner {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.usersDiv {
  background-color: #e7f1f3;
  margin-right: 20px;
  position: fixed;
  height: 90%;
}

li {
  margin: auto;
}

.nameDiv {
  margin-top: 25px;
}

.usersTitle {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #014d9e;
}

.bg-light {
  background-color: #d2e5e9 !important;
}

.frm {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-left: 13%;
}

.inpt {
  min-width: 200px;
  max-height: 30px;
  padding: 5px;
}

.profileImage {
  width: 35%;
  height: 35%;
  border-radius: 50%;
  cursor: pointer;
}

.msgs {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-left: 13%;
  margin-right: 13%;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}

.upload-btn-wrapper:hover {
  background-color: gray;
}

.btn1 {
  border: 1px gray;
  color: gray;
  background-color: white;
  padding: 4px 10px;
  border-radius: 50%;
  cursor: pointer !important;
}

.upload-btn-wrapper input[type=file] {
  font-size: 80px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer !important;
}

.clip {
  padding: 0;
  width: 20px;
  margin: auto;
  margin-left: 5px;
}

.width {
  margin: auto;
  width: 50%;
  background-color: white
}

.send {
  height: 32px;
  padding: 5px;
  margin-left: 15px;
  width: 60px;
}


#wrapper {
  width: 11%;
  overflow: auto;
}

.th {
  color: #014d9e;
}

.formInput {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.cp-navbar-container>li a.darkblue {
  color: #014d9e;
  font-weight: bold;
}

.userLi {
  font-size: .9rem;
}

.msgs>ul li {
  list-style: none;
  padding: .5em;
}

.crop {
  width: 50%;
  height: 50%;
}

@media (max-width: 600px) {
  .inpt {
    min-width: 20%;
  }
  .usersDiv {
    display: none;
  }

}
